//COLORS

$color-primary-font:#22232b;
$color-secondary-font: #828d92;
$color-primary-bg: #e6ebef;
$color-active: #20a8d8;
$color-white: #fff;
$color-black: #000;
$color-orange: #ff8d07;
$color-light: #bdcdd6;

// FONT
$font-size-smallest: 1.2rem;
$font-size-small: 1.4rem;
$font-size-normal: 1.8rem;
$font-size-large: 2.4rem;
$font-size-largest: 3rem;
