.header {
  width: 100vw;
  height: 5.5rem;
  z-index: 120;
  position: fixed;
  display: grid;
  grid-template-rows: 5.5rem;
  grid-template-columns: repeat(10,1fr);
  background-color: $color-white;
  @include respond(phone) {
    height: 11rem;
    grid-template-rows: 5.5rem 5.5rem;
  }

  &__container {
    grid-column: 1/ 7 ;
    grid-row: 1/2;
    display: grid;
    padding: 1rem;
    grid-template-columns: 4rem 7rem 1fr;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      grid-template-columns: 4rem 3fr 1fr;
    }

    @include respond(tab-port) {
      grid-column: 1/ 5 ;
    }

    @include respond(tab) {
      grid-template-columns: 4rem 3fr 1rem;
    }

    @include respond(phone) {
      grid-column: 1/-1;
    }
  }

  &__title {
    font-size: $font-size-smallest;
    font-family: "Open Sans";
    color: $color-primary-font;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin: 0 1rem;
    align-self: center;
    @include respond(tab-land) {
      font-size: $font-size-normal;
    }
    
  }

  &__link{
    display: block;
    align-self: center;
  }

  
}
