.header {
  width: 100vw;
  height: 55px;
  z-index: 120;
  position: fixed;
  display: grid;
  grid-template-rows: 55px;
  grid-template-columns: repeat(10,1fr);
  background-color: $color-white;
  @include respond(phone) {
    height: 110px;
    grid-template-rows: 55px 55px;
  }

  &__container {
    grid-column: 1/ 7 ;
    grid-row: 1/2;
    display: grid;
    padding: 10px;
    grid-template-columns: 40px 70px 1fr;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: $font-size-smallest;
    font-family: "Open Sans";
    color: $color-primary-font;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin: 0 1rem;
    align-self: center;
  }

  &__link{
    display: block;
    align-self: center;
  }

  
}
