.main{
    transform: translateX(5rem) translateY(5rem); 
    height: 85vh;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);

    &__title{
        grid-row: 2/3;
        grid-column: 2/6;
        font-size: $font-size-largest;
        font-weight: 700;
        line-height: 1;

    }

    &__discription{
        grid-row: 3/4;
        grid-column: 2/6;
    }
}
