.user-nav {
    grid-column: 7/-1;

    @include respond(tab-port) {
      grid-column: 5/-1;
    }
    @include respond(phone) {
      grid-row: 2/3;
      grid-column: 1/-1;
    }
  &__list {
    display: grid;
    grid-template-columns: repeat(2,20rem) 10rem;
    list-style: none;
    justify-content: end;

    @include respond(big-desktop) {
      grid-template-columns: repeat(2,25rem) 10rem;
    }

    @include respond(tab) {
    
      grid-template-columns: repeat(2,18rem) 6rem;
  
    }

    @include respond(phone) {
      
      justify-content: space-between;
      padding-left: 1rem;
    }
  }

  &__item {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    @include respond(phone) {
      justify-content: start;
    }
  }

  &__link:link,
  &__link:visited {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 5rem 1fr;
    font-size: $font-size-smallest;
    text-decoration: none;
    line-height: 1;
    align-self: center;
  }

  &__img {
    grid-row: 1 / -1;
    align-self: center;
    width: 3rem;
    height: 3rem;
  }

  &__name {
    color: $color-primary-font;
    align-self: center;
    
  }

  &__discription {
    color: $color-secondary-font;
    align-self: center;
  }
}
