.content{
    height: 100vh;
    width: 100px;
    display: grid;
    grid-template-columns: 5rem ;
    grid-template-rows: 5rem  repeat(10,1fr);
    top: 0;
    z-index: 200;

    @include respond(phone) {
        grid-row: 3/4;
      }

    
    @include respond(tab-land) {
        grid-template-columns: 5rem 5rem repeat(20,1fr);
        grid-template-rows: 5rem 5rem;
        width: 100vw;
        height: 100px;
        
      }
}