.content{
    height: 100vh;
    width: 100px;
    display: grid;
    grid-template-columns: 50px ;
    grid-template-rows: 50px  repeat(10,1fr);
    top: 0;
    z-index: 200;


    
    @include respond(tab-land) {
        grid-template-columns: 50px 50px repeat(20,1fr);
        grid-template-rows: 50px 50px;
        width: 100vw;
        height: 100px;
        
      }
}